<div class="cnc-data-block">
    <div class="cnc-data-block-header">
        <div class="col-md-12">
            <span>Bem-vindo!</span>
        </div>
    </div>

    <div class="cnc-data-block-body">
        <div class="col-md-12">
            <span>Sample Text</span>
        </div>
    </div>
</div>
