<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CnC</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cnc.css" />

    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CnC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark c-pointer" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Discussões
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Discussion" asp-action="Index">Geral</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="Index">Filmes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Series" asp-action="Index">Séries</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Songs" asp-action="Index">Músicas</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @* Here other views are rendered *@
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CnC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas de Privacidade</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
