html, body {
    position: relative;
    height: 100%;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 150%;
    height: 130%;
    margin-top: -40px;
    margin-left: -40px;
    background-image: url(/images/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    transform: translate3d(0px,0,0);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

    .swiper-slide .title {
        text-align: center;
        font-size: 41px;
        font-weight: 300;
    }

    .swiper-slide .subtitle {
        text-align: center;
        font-size: 21px;
    }

    .swiper-slide .text {
        text-align: center;
        font-size: 14px;
        line-height: 1.3;
        margin-top: 20px;
    }